<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="sidebar" class="sidebar" th:fragment="sidebar">
  <input type="hidden" id="userRole" th:value="${userRole}" />
  
  <button class="close-btn" onclick="toggleSidebar()">닫기</button>
    <h3>기능 목록</h3>

    <strong>학생</strong>
    <ul>
      <li><a href="/timetable" class="secure-link" onclick="return false;">시간표 구성</a></li>
      <li><a href="/enroll/gradeCheck" class="secure-link" onclick="return false;">수강 성적 조회</a></li>
      <li><a href="/notice/student/list" class="secure-link" onclick="return false;">강의공지사항 조회</a></li>
      <li><a href="/syllabus/student/list" class="secure-link" onclick="return false;">강의계획서 조회</a></li>
      <li><a href="/content" class="secure-link" onclick="return false;">온라인 콘텐츠 수강</a></li>
      <li><a href="/enroll" class="secure-link" onclick="return false;">수강신청</a></li>
      <li><a href="/mypage" class="secure-link" onclick="return false;">개인정보 조회 및 수정</a></li>
    </ul>

    <strong>교수</strong>
    <ul>
      <li><a href="/enroll/attendance" class="secure-link" onclick="return false;">성적입력</a></li>
      <li><a href="/online-lecture" class="secure-link" onclick="return false;">온라인 강의 업로드</a></li>
      <li><a href="/notice/professor/list" class="secure-link" onclick="return false;">과목 공지사항 관리</a></li>
      <li><a href="/syllabus/professor/list" class="secure-link" onclick="return false;">강의계획서 등록/수정/삭제</a></li>
    </ul>

    <strong>관리자</strong>
    <ul>
      <li><a href="/enroll-schedule" class="secure-link" onclick="return false;">수강신청 날짜 설정/삭제</a></li>
      <li><a href="/grade-period" class="secure-link" onclick="return false;">성적 입력기간 설정/수정/삭제</a></li>
      <li><a href="/notice/admin/list" class="secure-link" onclick="return false;">학교 공지사항 작성</a></li>
      <li><a href="/professors" class="secure-link" onclick="return false;">교수 정보 확인</a></li>
      <li><a href="/students" class="secure-link" onclick="return false;">학생 정보 확인</a></li>
      <li><a href="/course-manage" class="secure-link" onclick="return false;">강의 등록/삭제</a></li>
    </ul>
  </div>

</body>
</html>
