spring:
  datasource:
    url: jdbc:mysql://localhost:3306/lms_db?useSSL=false&serverTimezone=Asia/Seoul
    username: MySQL80
    password: 7165
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true
